APP_VARIANT=dev
APP_BUNDLE_ID=id.sooon.app
APP_NAME=App
APP_SCHEME=app

EXPO_PROJECT_ID=
EXPO_OWNER=
EXPO_SLUG=

EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_API_TIMEOUT=10000
EXPO_PUBLIC_SENTRY_DSN=

SENTRY_ORGANIZATION=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
SENTRY_DISABLE_AUTO_UPLOAD=false
WITH_ROZENITE=true
