@theme static {
  /* --- RADIUS --- */
  --radius-hair: 1px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-4xl: 36px;
  --radius-5xl: 40px;
  --radius-full: 9999px;
}
